body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: url("./img/Vector.png");
  background-color: #121829;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
